* {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.4;
}

.mainContainer {
    background-color: #f0f2f5;
    width: 100vw;
    display: flex;
}
.leftContainer {
    width: 15%;
    height: 100vh;
    padding: 2rem;
    padding-top: 5rem;
}
.centerContainer {
    width: 30%;
    padding: 2rem;
    padding-top: 5rem;
}
.rightContainer {
    width: 55%;
    padding: 2rem;
    padding-top: 2rem;
}